body {
	background-color:white;
	color:black;
	margin: 0;
	padding: 0;
}
.header{
	display: inline-flex;
	color: white;
	justify-content: center;
	background-color: #282c37;
	width: 100%;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
}
.container{
	display: inline-flex;
	width: 100%;
	height: 89.60VH;
	justify-content: flex-start;
	flex-direction: row;
	margin-top: -1vh;
	font-size: 20px;
		.CodeMirror{
		width:50%; 
	 	border-right: 1px solid black;
	 	height: 100%;
		}
		#translation-result{
		width: 50%;
		height: 100%;
		border-up: 5px solid black;
		}
}

